<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.realssoft.smartgas">

    <!-- Allow internet access -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Required only when requesting background location access on
       Android 10 (API level 29) and higher. -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_smartgas"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_smartgas_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        android:fullBackupContent="@xml/backup_descriptor">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/KEY_API" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>